body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: fit-content;
}

h4#home {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 1, 179);
}