body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left: 420px;
}

p {
    margin-left: 370px;
    margin-right: 370px;
}

h4 {
    margin-left: 475px;
}