body {
    background-color: black;
    color: white;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

img {
    align-content: center;
}

div.images {
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
}

